# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtualenv
.venv/
env/
venv/
*.egg-info/

# Dev tools
.pytest_cache/
.mypy_cache/
.coverage

# Editor/IDE
.vscode/
.idea/
.devcontainer/   # 팀 전체 공유할 거면 제외하지 말고 유지

# Local data
chroma_data/
*.db

# Env
.env
*.pem
*.key
